[Desktop Entry]
Name=SayMore
Comment=WINE snap package
Exec=saymore
Icon=${SNAP}/meta/gui/saymore.png
Terminal=false
Type=Application
Categories=Education;Science;
#StartupWMClass=saymore.exe
StartupNotify=false
Keywords=SayMore;